<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}" th:with="title=${#messages.msg('index.title')}">
<body>
<th:block layout:fragment="body">
    <table class="table">
        <tbody>
        <tr>
            <th scope="row">token</th>
            <td>
                <p th:text="${oauth_token}"></p>
            </td>
        </tr>
        </tbody>
    </table>
    <p><form method="post" th:action="@{/logout}"><button class="btn btn-outline-primary" type="submit">Logout</button></form></p>
</th:block>
</body>
</html>